<html ng-app="demoMongo" ng-controller="MongoRestController">
<head >
    <title>Student Details</title>
    <link href="css/newStyle.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
    <script>
        function meanStack(evt, formDisp) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(formDisp).style.display = "block";
            evt.currentTarget.className += " active";
        }


        var myapp = angular.module('demoMongo',[]);
        myapp.run(function ($http) {
            // Sends this header with any AJAX request
            $http.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
            // Send this header only in post requests. Specifies you are sending a JSON object
            $http.defaults.headers.post['dataType'] = 'json'
        });
        myapp.controller('MongoRestController',function($scope,$http){
            $scope.insertData = function(){
                console.log($scope.formData.studentId);
                console.log($scope.formData.studentName);
                console.log($scope.formData.courseStudy);
                console.log($scope.formData.major);
                console.log($scope.formData.minor);
                var dataParams = {
                    'studentId' : $scope.studentId,
                    'studentName' : $scope.studentName,
                    'courseStudy' : $scope.courseStudy,
                    'major' : $scope.major,
                    'minor':$scope.minor
                };
                var config = {
                    headers : {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }
                var req = $http.post('http://127.0.0.1:3000/student/create',$scope.formData);
                req.success(function(data, status, headers, config) {
                    $scope.message = data;
                    console.log(data);
                    alert(" Details are added to Database ");
                });
                req.error(function(data, status, headers, config) {
                    alert( "failure message: " + JSON.stringify({data: data}));
                });
            };
            $scope.fetchData = function(){
                var request=$http.get('http://127.0.0.1:3000/student/search?major='+$scope.major);
                request.success(function(data, status, headers, config) {
                    $scope.response = data.data;
                    console.log(data);
                });
                request.error(function(data, status, headers, config) {
                    alert( "failure message: " + JSON.stringify({data: data}));
                });
            }
        });
    </script>

</head>
<body>
<h1 style="text-align: center">Application Using Meanstack</h1>
<div class="tab">
    <button class="tablinks" href="#Create" onclick="meanStack(event,'Create')">Add</button>
    <button href="#Fetch tablinks" onclick="meanStack(event,'Fetch')">Get</button>
</div>
<div id="Create" style="width: 100%" align="center" class="tabcontent">
    <h2>Enter Student Details</h2>
    <form class="container" style="align-self: center;width: 50%; background-color: lightgreen"
          ng-submit="insertData()" >
                    <label for="studentId" style="color: black"><b>Id</b></label>
                    <input type="text" id="studentId" name="studentId"
                           placeholder="Enter StudentId" ng-model="formData.studentId" required >

        <label for="studentName" style="color: black"><b>Name of the Student</b></label>
        <input type="text" id="studentName" name="studentName"
               placeholder="Enter StudentName" ng-model="formData.studentName" required >

        <label for="course" style="color: black"><b>Course Of Study</b></label>
        <input type="text" id="course" name="course"
               placeholder="Enter CourseOfStudy" ng-model="formData.courseStudy" required >

        <label for="major" style="color: black"><b>Major's</b></label>
        <input type="text" id="major" name="major"
               placeholder="Enter the Major" ng-model="formData.major" required >

        <label for="minor" style="color: black"><b>Minor</b></label>
        <input type="text" id="minor" name="minor"
               placeholder="Enter the Minor" ng-model="formData.minor" required >
        <input type="submit" value="Create">
        </form>
    </div>
</div>
<div id="Fetch" style="width: 100%" align="center" class="tabcontent">
        <h2>Get Student Details</h2>

    <form class="container" style="align-self: center;width: 50%;background-color: lightgreen"
          ng-submit="fetchData()" >
        <label for="Major" style="color: black"><b>Major</b></label>
        <input type="text" id="mjor" name="major"
               placeholder="Provide Major's to get details" ng-model="major" required >
        <input type="submit" value="Get Details">
    </form>
            <p>Corresponding Details{{major}} are below:</p>
            <table border="1" align="center" width="50%" cellpadding="4",cellspacing="3">
                <tr>
                    <th>Id</th>
                    <th>Name of the Student</th>
                    <th>CourseOfStudy</th>
                    <th>Major's</th>
                    <th>Minor</th>
                </tr>
                <tr align="center" ng-repeat="data in response">
                    <td>{{data.class_id}}</td>
                    <td>{{data.student_name}}</td>
                    <td>{{data.course_of_study}}</td>
                    <td>{{data.major}}</td>
                    <td>{{data.minor}}</td>
                </tr>
            </table>
        </form>
    </div>
</div>
        </div>
</body>
</html>